-- CreateIndex
CREATE INDEX `Flight_flightNumber_departureTime_idx` ON `Flight`(`flightNumber`, `departureTime`);

-- CreateIndex
CREATE UNIQUE INDEX `VoucherRedemption_userId_voucherId_key` ON `VoucherRedemption`(`userId`, `voucherId`);

